<!doctype html>
<html lang="en" ng-app="basecampExtension" ng-csp ng-strict-di>
<head>
  <meta charset="utf-8">
  <title>Bitx</title>
  <link href="css/app.css" rel="stylesheet" media="screen">
  <link href="css/style.css" rel="stylesheet" media="screen">
  <script src="app.js"></script>
</head>

<body ng-controller="MainController" class="{{lang}}">
  <main ng-if="state.logged">
    <header>
      <a href="http://goo.gl/fUXs2M" target="_blank" title="{{'rate_bitx' | i18n}}" tabindex="-1">
        <img src="/img/bitx-logo.svg" height="26" width="39" alt="Bitx logo">
      </a>
      <search-suggestions></search-suggestions>
      <a ng-click="openOptions()"><span class="icon-settings"></span></a>
    </header>
    <section>
      <toggle-content category="overdues"></toggle-content>
      <todos category="overdues"></todos>

      <toggle-content category="today"></toggle-content>
      <todos category="today"></todos>

      <toggle-content category="upcoming"></toggle-content>
      <todos category="upcoming"></todos>

      <toggle-content category="noduedate"></toggle-content>
      <todos category="noduedate"></todos>
    </section>
  </main>

  <main class="allow-access" ng-if="!state.logged" ng-click="startOauth()">
    <img src="/img/logo-header.png" height="26" width="39">
    <p>{{'needAuth1' | i18n}} <em>"Yes, I'll allow access"</em> {{'needAuth2' | i18n}}</p>
  </main>
</body>
</html>
